 /* Global Styling */
 @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

 /* Typography */
 body {
   font-family: "Fredoka", sans-serif;
 }

 /* Colors */
 body {
   background-color: #F3EFE0;
 }

 /* Layout */
 body {
   margin: 0;
   padding: 0;
 }

 .wrapper {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 1em;
 }

 /* Utils */
 body::-webkit-scrollbar {
   display: none;
 }

 body {
   -ms-overflow-style: none;
   scrollbar-width: none;
 }